<h2 class="title-name" mat-dialog-title>
  {{ selectedPokemons[0].name | uppercase }}
</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="4" rowspan="3">
      <img
        src="{{ image }}"
        alt="Photo of {{ selectedPokemons[0].name }}"
        class="image-style"
      />
    </mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan="1" style="margin-top: 10px">
      <div class="container" style="padding: 0; margin-top: 20px">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. nobis
          temporibus officiis!
        </p>
        <hr />
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan="1">
      <table style="width: 100%">
        <tr>
          <th>Height</th>
          <th>Weight</th>
          <th>Gender</th>
        </tr>

        <tr>
          <td>sadfasdf</td>
          <td>adfdasd</td>
          <td>dfasdf</td>
        </tr>
      </table>
    </mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan="1">
      <table style="width: 100%">
        <tr>
          <th>Abilities</th>
          <th>Type</th>
        </tr>

        <tr>
          <td>
            <ul>
              <li>sfgdsf</li>
              <li>sfgdsf</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>sfgdsf</li>
              <li>sfgdsf</li>
            </ul>
          </td>
        </tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <app-chart></app-chart>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
